* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
p{
    margin: 0;
}

